@use "./base.scss";

body {
  font-weight: 400;   // Adjust weight (default is 400/normal)
}
h1, h2, h3, h4, h5, h6 {
      font-weight: 400;   // Adjust weight (default is 400/normal)
}
h2.page-title a {
  font-weight: 400;  // Override the link's weight to match the h2
}

video {
  max-width: 480px;
  width: 100%;
  display: block;
}
// put your custom CSS here!

